.vscode/**
.vscode-test/**
out/**
esbuild*.js
src/**
**/*.ts
**/*.map
.vscodeignore
.eslintrc.json
.prettierrc.json
tsconfig.json
.gitattributes
.gitignore
.npmrc
.nvmrc
.travis.yml
.editorconfig
.jshintrc
.jshintignore
.project
.settings
.buildpath
.factorypath
*.sublime-project
*.sublime-workspace
*.log
*.bak
*.swp
*.swo
*.tmp
*.vsix
*.code-workspace
*.code-search
*.history
.DS_Store
Thumbs.db
node_modules/*
!node_modules/vscode/*
!node_modules/vscode-test/*
